/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe');

/* RESETS */

html, body {
	margin: 0;
	font-size: 10px;
}

h1 {
	margin: 0;
}

/* VARIABLES */
:root {
	--orange: hsl(30, 100%, 40%);
	--dark-orange: hsl(30, 100%, 30%);
	--blue: hsl(210, 100%, 30%);
	--dark-blue: hsl(210, 100%, 20%);
	--light: hsl(210, 100%, 95%);
}

/* FONTS */

.t-heading {
	font-family: 'ZCOOL Kuaile', cursive;
	font-size: 3.6rem;
}
@media (max-width: 480px) {
	.t-heading {
		font-size: 2.4rem;
	}
}

.t-button {
	font-family: 'ZCOOL Kuaile', cursive;
	font-size: 2.8rem;
}
@media (max-width: 480px) {
	.t-button {
		font-size: 2.8rem;
	}
}

.t-score {
	font-family: Lato, sans-serif;
	font-size: 3.6rem;
}
@media (max-width: 480px) {
	.t-score {
		font-size: 2.2rem;
	}
}

/* UTILITIES */

.left {
	transform: rotatey(180deg);
}

.hide {
	display: none;
}

/* BASIC */
body {
	background-color: var(--light);
}

.header {
	padding: 1rem 0;
	border-bottom: .5rem solid var(--dark-blue);
	background-color: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display {
	width: 30rem;
	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 480px) {
	.display {
		height: 25rem;
	}
}

.result {
	color: var(--orange);
	position: absolute;
	top: 33rem;
	z-index: 1;
}
@media (max-width: 480px) {
	.result {
		top: 23rem;
	}
}

.player {
	width: 14rem;
	display: flex;
	flex-direction: column;
}

.player-left {
  align-items: flex-start;
}

.player-right {
  align-items: flex-end;
}

.hand {
	fill: var(--dark-blue);
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.button {
	margin: 1rem;
	padding: 1rem 2rem;
	border: none;
	border-bottom: .5rem solid var(--dark-orange);
	border-radius: 3rem;
	background-color: var(--orange);
	color: var(--light);
}
.button:hover {
	cursor: pointer;
	background-color: var(--dark-orange);
	position: relative;
	top: .2rem;

}

.scores {
	width: 100%;
	color: var(--dark-blue);
	display: flex;
	justify-content: center;
}

.score {
	margin: 2rem;
}

/* ANIMATION */

.bounce {
	animation-name: bounce;
  transform-origin: center bottom;
	animation-duration: .5s;
	animation-iteration-count: 3;
}

@keyframes bounce {
  from,
  to {
    transform: translatey(0);
  }

  40% {
    transform: translatey(-30px);
  }
}
